.sequnacer-controls h1 {
  font-size: 1.5rem;
}

.play-btn {
  font-size: 1rem;
}
.kick-track,
.snare-track,
.hihat-track {
  flex-direction: column;
  align-items: center;
}

.random-beat {
  padding: 0.5rem 1rem;
}
.pad {
  width: 3rem;
  height: 3rem;
}
@media (max-width: 782px) {
  body {
    overflow: visible;
  }
  .sequnacer-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sequnacer-controls .tempo {
    grid-column: 2/ 3;
  }
  .play-btn {
    font-size: 1rem;
  }
}

@media (max-width: 680px) {
  .kick-track,
  .snare-track,
  .hihat-track {
    flex-direction: column;
  }

  .kick-pads,
  .hihat-pads,
  .snare-pads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .pad {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 680px) {
  .kick-track,
  .snare-track,
  .hihat-track {
    flex-direction: column;
  }

  .kick-pads,
  .hihat-pads,
  .snare-pads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .pad {
    width: 2.5rem;
    height: 2.5rem;
  }
}
